<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
      akka {
          actor {
              provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
              deployment {
                  /OrderActor {
                      remote = "akka.tcp://RemoteActor@127.0.0.1:8099"
                  }
              }
          }

          remote {
              helios.tcp {
                  port = 0
                  hostname = 127.0.0.1
              }
          }
      }
      ]]>
    </hocon>
  </akka>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
